{% load static %}


<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Транспортные услуги  и аренда техники. О компании.</title>
    <meta name="description" content="Пассажирские перевозки, аренда спецтехники, услуги по перевозке грузов - сфера деятельности компании 
    Регионалкарго. Собственный автопарк, опытные сотрудники!">
    <meta property="og:title" content="Транспортные услуги  и аренда техники. О компании.">
    <meta property="og:description" content="Пассажирские перевозки, аренда спецтехники, услуги по перевозке грузов - сфера деятельности компании Регионалкарго. Собственный автопарк, опытные сотрудники!">
    <meta property="og:url" content="http://hmp-delivery-cargo.hostcms.ru/about/">
    <meta property="og:image" content="http://hmp-delivery-cargo.hostcms.ru/assets/auto/site/cargo/og.jpg">
    <link href="{% static 'assets/auto/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'assets/auto/site/cargo/site.min.css' %}" rel="stylesheet" type="text/css">
    <link href="http://hmp-delivery-cargo.hostcms.ru/favicon.ico" rel="icon" type="image/x-icon">
    <link href="http://hmp-delivery-cargo.hostcms.ru/favicon.ico" rel="shortcut icon" type="image/x-icon">
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body data-spy="scroll" data-target=".serviceNav" data-offset="100">

  <header>
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <div class="logo">
                                            <a href="" title="Регионалкарго"><img src="/static/assets/auto/site/cargo/logo_color2.png" height="60px" width="148px" alt="Регионалкарго"></a>
                                    </div>
            </div>
            <nav class="col-sm-7">
                <ul class="list-inline">
                    

<li>
  <a href="/about/index.htm" title="Компания">Компания</a>
</li>
<li>
  <a href="/tariffs/index.htm" title="Тарифы">Тарифы</a>
</li>
<li>
  <a href="/partners/index.htm" title="Партнёры">Партнёры</a>
</li>
<li>
  <a href="/contacts/index.htm" title="Контакты" class="active">Контакты</a>
</li>
                </ul>
            </nav>
            <div class="col-sm-2 text-right phone">
                +998 93 0366747
            </div>
        </div>
    </div>
</header>

<section id="page">
    <section class="container">
        <div class="row">
            <div class="col-sm-3">
                <div id="likeNav">
                    

<div id="likeNav">
  <div data-spy="affix" data-offset-top="0" data-offset-bottom="60">
    <div class="round red">
      <div class="cnt serviceNav">
        <ul class="list-unstyled links nav nav-tabs" role="tablist">
          <li class="hidden">
            <a href="#home" title="Услуги">Услуги</a>
          </li>
          <li>
            <a href="{% url 'cartransportcreate' %}" title="Автомобильные перевозки">Автомобильные перевозки<i class="fa fa-chevron-right"></i></a>
          </li>
          <li>
            <a href="{% url 'rent_of_special_equipment' %}" title="Аренда спецтехники">Аренда спецтехники<i class="fa fa-chevron-right"></i></a>
          </li>
          <li>
            <a href="{% url 'passenger_transportation' %}" title="Пассажирские перевозки">Пассажирские перевозки<i class="fa fa-chevron-right"></i></a>
          </li>
          <li class="hidden">
            <a href="#page" title="Коротко о компании">Коротко о компании</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="round white">
      <div class="cnt">
        <ul class="list-unstyled links">
          <li>
            <div class="title">Свяжитесь с нами</div>
            <div class="small text-muted">Телефон</div>
            <div class="phone">(+998 93) 036-67-47</div>
          </li>
          <li>
            <div class="small text-muted">Эл почта</div>
            <a href="globalmove@gmail.uz" title="Эл почта">
                globalmove@gmail.uz
								</a>
                <!-- <script>function hostcmsEmail(c){return c.replace(/[a-zA-Z]/g, function(c){return String.fromCharCode((c <= "Z" ? 90 : 122) >= (c = c.charCodeAt(0) + 13) ? c : c-26);})}var o = document.currentScript.previousElementSibling; o.href = hostcmsEmail(o.href); o.innerHTML = hostcmsEmail(o.innerHTML);</script> -->
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
                </div>
            </div>
            <div class="col-sm-7">
                <h1>Транспортная компания<span style="margin-right: 0.3em"> </span> <span style="margin-left: -0.3em">&laquo;Регионалкарго</span>&raquo;</h1>
<p>Группа компаний<span style="margin-right: 0.3em"> </span> <span style="margin-left: -0.3em">&laquo;Регионалкарго</span>&raquo; является одной из&nbsp;ведущих транспортных компаний Узбекистана, осуществляющая транспортную перевозку грузов по&nbsp;Узбекистана автотранспортом.</p>
<p><img src="/static/assets/auto/tmp/001.jpg" class="imgP"></p>
<p>Территория обслуживания &ndash; более 20 городов и&nbsp;населенных пунктов Узбекистана. Мы&nbsp;практикуем реализацию законченных бизнес-схем &ndash; от&nbsp;комплексного анализа потребностей заказчиков до&nbsp;построения и&nbsp;последующей реализации эффективных решений в&nbsp;области транспорта и&nbsp;логистики, а&nbsp;также многолетний опыт работы на&nbsp;рынке грузоперевозок, постоянное развитие и&nbsp;динамичное совершенствование процесса логистики позволяет предоставлять нашим клиентам неизменно высокую скорость доставки, сохранность грузов и&nbsp;наилучшее качество обслуживания.</p>
<p>Нашим главным преимуществом&nbsp;является собственный автопарк для&nbsp;перевозки негабаритных и&nbsp;тяжеловесных грузов. Каждому клиенту мы&nbsp;гарантируем доброжелательное и&nbsp;внимательное отношение.</p>
<p>&nbsp;</p>
<h3>Почему мы?</h3>
<div class="row">
<div class="col-sm-6">
<p>Собственный парк, более 20 единиц грузовой и&nbsp;спецтехники.</p>
<p>Большой опыт в&nbsp;сфере грузоперевозок, на&nbsp;рынке более 10 лет.</p>
<p>Большой штат профессионалов, готовых минимизировать ваши затраты.</p>
</div>
<div class="col-sm-6">
<p>Личный менеджер, который всегда сможет ответить на&nbsp;все&nbsp;вопросы.</p>
<p>Мы даем гарантии сохранности груза и&nbsp;заботимся о&nbsp;нем&nbsp;от&nbsp;момента получения до&nbsp;момента сдачи.</p>
<p>Вам не&nbsp;нужно будет долго дозваниваться и&nbsp;ждать получения ответов на&nbsp;вопросы.</p>
</div>
</div>
<p>&nbsp;</p>
<p>Нам доверяют такие компании как: &nbsp;САГ, Навоийский горно-металлургический комбинат <span style="margin-left: -0.3em">&laquo;НГМК</span></p>
<p>Обязательная страховая защита&nbsp;&mdash; это&nbsp;непременное условие нашей деятельности. Ответственность экспедитора застрахована в&nbsp;ОАО<span style="margin-right: 0.3em"> </span> <span style="margin-left: -0.3em">&laquo;ИНГОССТРАХ</span>&raquo; на&nbsp; 2 000 000 млн. суммов по&nbsp;каждой перевозке, при&nbsp;перевозке грузов на&nbsp;сумму выше груз возможно застраховать по&nbsp;минимальной страховой ставке по&nbsp;условиям генерального полиса.</p>
<p>&nbsp;</p>
<h3>Реквизиты</h3>
<div class="row">
<div class="col-sm-6">
<p>ООО<span style="margin-right: 0.3em"> </span> <span style="margin-left: -0.3em">&laquo;Регионалкарго</span>&raquo;</p>
<p>Сагдияна, д. 81<br>Самарканд, 225688, Узбекистан</p>
<p><span style="margin-right: 0.3em"> </span> <span style="margin-left: -0.3em">(+998 93</span>) 036-67-47</p>
</div>
<div class="col-sm-6">
<p></p>
</div>
</div>            </div>
        </div>
    </section>
</section>
<footer>
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <div class="logo">
                                            <a href="../index.htm" title="Регионалкарго"><img src="/static/assets/auto/site/cargo/logo_color2.png" height="60px" width="148px" alt="Регионалкарго"></a>
                                    </div>
            </div>
            <nav class="col-sm-7">
                <ul class="list-inline">
                    

<li>
  <a href="/about/index.htm" title="Компания">Компания</a>
</li>
<li>
  <a href="/tariffs/index.htm" title="Тарифы">Тарифы</a>
</li>
<li>
  <a href="/partners/index.htm" title="Партнёры">Партнёры</a>
</li>
<li>
  <a href="/contacts/index.htm" title="Контакты" class="active">Контакты</a>
</li>
                </ul>
            </nav>
            <div class="col-sm-2 text-right phone">
                (+998 93)0366747
            </div>
			<div class="col-xs-12 text-center">
                <p></p>
            </div>
        </div>
    </div>
</footer>


<script type="text/javascript" src="{% static 'jquery/1.11.0/jquery.min.js' %}"></script>
<script type="text/javascript" src="{% static 'bootstrap/3.2.0/js/bootstrap.min.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/auto/js/jquery.easing.1.3.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/auto/js/parallax.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/auto/expromptum/expromptum.min.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/auto/site/site.min.js' %}"></script>




</body>
</html><!-- HostCMS Benchmark --><script>
window.addEventListener('load', function() {
	var waiting = performance.timing.responseStart - performance.timing.requestStart, loadPage = performance.timing.loadEventStart - performance.timing.requestStart, dnsLookup = performance.timing.domainLookupEnd - performance.timing.domainLookupStart, connectServer = performance.timing.connectEnd - performance.timing.connectStart;

	xmlhttprequest = new XMLHttpRequest();
	xmlhttprequest.open('POST','/hostcms-benchmark.php',true);
	xmlhttprequest.setRequestHeader('Content-type','application/x-www-form-urlencoded');
	xmlhttprequest.send('structure_id=1021&waiting_time='+waiting+'&load_page_time='+loadPage+'&dns_lookup='+dnsLookup+'&connect_server='+connectServer);
});
</script>