

<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Контакты</title>
    <meta name="description" content="Контакты">
    <meta property="og:title" content="Контакты">
    <meta property="og:description" content="Контакты">
    <meta property="og:url" content="http://hmp-delivery-cargo.hostcms.ru/contacts/">
    <meta property="og:image" content="http://hmp-delivery-cargo.hostcms.ru/assets/auto/site/cargo/og.jpg">
    <link href="../assets/auto/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="../assets/auto/site/cargo/site.min.css" rel="stylesheet" type="text/css">
    <link href="http://hmp-delivery-cargo.hostcms.ru/favicon.ico" rel="icon" type="image/x-icon">
    <link href="http://hmp-delivery-cargo.hostcms.ru/favicon.ico" rel="shortcut icon" type="image/x-icon">
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body data-spy="scroll" data-target=".serviceNav" data-offset="100">

<header>
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <div class="logo">
                                            <a href="../index.htm" title="Регионалкарго"><img src="../assets/auto/site/cargo/logo_color2.png" height="60px" width="148px" alt="Регионалкарго"></a>
                                    </div>
            </div>
            <nav class="col-sm-7">
                <ul class="list-inline">
                    

<li>
  <a href="../about/index.htm" title="Компания">Компания</a>
</li>
<li>
  <a href="../tariffs/index.htm" title="Тарифы">Тарифы</a>
</li>
<li>
  <a href="../partners/index.htm" title="Партнёры">Партнёры</a>
</li>
<li>
  <a href="index.htm" title="Контакты" class="active">Контакты</a>
</li>
                </ul>
            </nav>
            <div class="col-sm-2 text-right phone">
                +99893 0366747
            </div>
        </div>
    </div>
</header>

<section id="page">
    <section class="container">
        <div class="row">
            <div class="col-sm-3">
                <div id="likeNav">
                    

<div id="likeNav">
  <div data-spy="affix" data-offset-top="0" data-offset-bottom="60">
    <div class="round red">
      <div class="cnt serviceNav">
        <ul class="list-unstyled links nav nav-tabs" role="tablist">
          <li class="hidden">
            <a href="#home" title="Услуги">Услуги</a>
          </li>
          <li>
            <a href="../index.htm#service_7807" title="Автомобильные перевозки">Автомобильные перевозки<i class="fa fa-chevron-right"></i></a>
          </li>
          <li>
            <a href="../index.htm#service_7805" title="Аренда спецтехники">Аренда спецтехники<i class="fa fa-chevron-right"></i></a>
          </li>
          <li>
            <a href="../index.htm#service_7806" title="Пассажирские перевозки">Пассажирские перевозки<i class="fa fa-chevron-right"></i></a>
          </li>
          <li class="hidden">
            <a href="#page" title="Коротко о компании">Коротко о компании</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="round white">
      <div class="cnt">
        <ul class="list-unstyled links">
          <li>
            <div class="title">Свяжитесь с нами</div>
            <div class="small text-muted">Телефон</div>
            <div class="phone">(+998 93) 036-67-47</div>
          </li>
          <li>
            <div class="small text-muted">Эл почта</div>
            <a href="globalmove@gmail.uz" title="Эл почта">
                  globalmove@gmail.uz
								</a><script>function hostcmsEmail(c){return c.replace(/[a-zA-Z]/g, function(c){return String.fromCharCode((c <= "Z" ? 90 : 122) >= (c = c.charCodeAt(0) + 13) ? c : c-26);})}var o = document.currentScript.previousElementSibling; o.href = hostcmsEmail(o.href); o.innerHTML = hostcmsEmail(o.innerHTML);</script>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
                </div>
            </div>
            <div class="col-sm-7">
                <h1>Контактная информация</h1>
<p>&nbsp;</p>
<div class="row">
<div class="col-sm-4">
<p><strong>Темур</strong><br> <i class="fa fa-mobile-phone"></i> <span style="margin-right: 0.3em"> </span> <span style="margin-left: -0.3em">(+998 93</span>) 036-67-47</p>
</div>
<div class="col-sm-4">
<p><strong>Феруз</strong><br> <i class="fa fa-mobile-phone"></i> <span style="margin-right: 0.3em"> </span> <span style="margin-left: -0.3em">(+998 93</span>) 036-67-47</p>
</div>
<div class="col-sm-4">
<p><strong>Комил</strong><br> <i class="fa fa-mobile-phone"></i> <span style="margin-right: 0.3em"> </span> <span style="margin-left: -0.3em">(+998 93</span>) 036-67-47</p>
</div>
</div>
<hr>
<div class="row">
<div class="col-sm-6">
<p><strong>Отдел логистики</strong><br><span style="margin-right: 0.3em"> </span> <span style="margin-left: -0.3em">(+998 93</span>) 036-67-47</p>
</div>
<div class="col-sm-6">
<p></p>
</div>
</div>
<p>&nbsp;</p>
<p>&nbsp;</p>
<script type="text/javascript" charset="utf-8" src="../services/constructor/1.0/js/index.htm?sid=DZRD9TEnjnoEuhwNeT021pnAmSnaAhk3&amp;width=600&amp;height=450&amp;lang=ru_RU&amp;sourceType=constructor"></script>            </div>
        </div>
    </section>
</section>
<footer>
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <div class="logo">
                                            <a href="../index.htm" title="Регионалкарго"><img src="../assets/auto/site/cargo/logo_color2.png" height="60px" width="148px" alt="Регионалкарго"></a>
                                    </div>
            </div>
            <nav class="col-sm-7">
                <ul class="list-inline">
                    

<li>
  <a href="../about/index.htm" title="Компания">Компания</a>
</li>
<li>
  <a href="../tariffs/index.htm" title="Тарифы">Тарифы</a>
</li>
<li>
  <a href="../partners/index.htm" title="Партнёры">Партнёры</a>
</li>
<li>
  <a href="index.htm" title="Контакты" class="active">Контакты</a>
</li>
                </ul>
            </nav>
            <div class="col-sm-2 text-right phone">
                (+998 93)0366747
            </div>
			<div class="col-xs-12 text-center">
                <p></p>
            </div>
        </div>
    </div>
</footer>

<script type="text/javascript" src="../jquery/1.11.0/jquery.min.js"></script>
<script type="text/javascript" src="../bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script type="text/javascript" src="../assets/auto/js/jquery.easing.1.3.js"></script>
<script type="text/javascript" src="../assets/auto/js/parallax.js"></script>
<script type="text/javascript" src="../assets/auto/expromptum/expromptum.min.js"></script>
<script type="text/javascript" src="../assets/auto/site/site.min.js"></script>





</body>
</html><!-- HostCMS Benchmark --><script>
window.addEventListener('load', function() {
	var waiting = performance.timing.responseStart - performance.timing.requestStart, loadPage = performance.timing.loadEventStart - performance.timing.requestStart, dnsLookup = performance.timing.domainLookupEnd - performance.timing.domainLookupStart, connectServer = performance.timing.connectEnd - performance.timing.connectStart;

	xmlhttprequest = new XMLHttpRequest();
	xmlhttprequest.open('POST','/hostcms-benchmark.php',true);
	xmlhttprequest.setRequestHeader('Content-type','application/x-www-form-urlencoded');
	xmlhttprequest.send('structure_id=1024&waiting_time='+waiting+'&load_page_time='+loadPage+'&dns_lookup='+dnsLookup+'&connect_server='+connectServer);
});
</script>