{% load static %}

<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Транспортные перевозки грузов в Узбекистане. Тарифы.</title>
    <meta name="description" content="Аренда спецтехники (аренда автовышки, самосвала и др.), транспортные перевозки грузов по Узбекистану и пассажиров предлагает компания Регионалкарго. Тарифы на услуги в Узбекистане на сайте.">
    <meta property="og:title" content="Транспортные перевозки грузов в =Узбекистане. Тарифы.">
    <meta property="og:description" content="Аренда спецтехники (аренда автовышки, самосвала и др.), транспортные перевозки грузов по Узбекистану и пассажиров предлагает компания Автокарго. Тарифы на услуги в Узбекистане на сайте.">
    <meta property="og:url" content="http://hmp-delivery-cargo.hostcms.ru/tariffs/">
    <meta property="og:image" content="http://hmp-delivery-cargo.hostcms.ru/assets/auto/site/cargo/og.jpg">
    <link href="{% static 'assets/auto/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'assets/auto/site/cargo/site.min.css' %}" rel="stylesheet" type="text/css">
    <link href="http://hmp-delivery-cargo.hostcms.ru/favicon.ico" rel="icon" type="image/x-icon">
    <link href="http://hmp-delivery-cargo.hostcms.ru/favicon.ico" rel="shortcut icon" type="image/x-icon">
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body data-spy="scroll" data-target=".serviceNav" data-offset="100">

<header>
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <div class="logo">
                                            <a href="/index.htm" title="Регионалкарго"><img src="/static/assets/auto/site/cargo/logo_color2.png" height="60px" width="148px" alt="Регионалкарго"></a>
                                    </div>
            </div>
            <nav class="col-sm-7">
                <ul class="list-inline">
                    

<li>
  <a href="/about/index.htm" title="Компания">Компания</a>
</li>
<li>
  <a href="/tariffs/index.htm" title="Тарифы">Тарифы</a>
</li>
<li>
  <a href="/partners/index.htm" title="Партнёры">Партнёры</a>
</li>
<li>
  <a href="/contacts/index.htm" title="Контакты" class="active">Контакты</a>
</li>
                </ul>
            </nav>
            <div class="col-sm-2 text-right phone">
                +998 93 0366747
            </div>
        </div>
    </div>
</header>

<section id="page">
    <section class="container">
        <div class="row">
            <div class="col-sm-3">
                <div id="likeNav">
                    

<div id="likeNav">
  <div data-spy="affix" data-offset-top="0" data-offset-bottom="60">
    <div class="round red">
      <div class="cnt serviceNav">
        <ul class="list-unstyled links nav nav-tabs" role="tablist">
          <li class="hidden">
            <a href="#home" title="Услуги">Услуги</a>
          </li>
          <li>
            <a href="{% url 'cartransportcreate' %}" title="Автомобильные перевозки">Автомобильные перевозки<i class="fa fa-chevron-right"></i></a>
          </li>
          <li>
            <a href="{% url 'rent_of_special_equipment' %}" title="Аренда спецтехники">Аренда спецтехники<i class="fa fa-chevron-right"></i></a>
          </li>
          <li>
            <a href="{% url 'passenger_transportation' %}" title="Пассажирские перевозки">Пассажирские перевозки<i class="fa fa-chevron-right"></i></a>
          </li>
          <li class="hidden">
            <a href="#page" title="Коротко о компании">Коротко о компании</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="round white">
      <div class="cnt">
        <ul class="list-unstyled links">
          <li>
            <div class="title">Свяжитесь с нами</div>
            <div class="small text-muted">Телефон</div>
            <div class="phone">(+998 93) 036-67-47</div>
          </li>
          <li>
            <div class="small text-muted">Эл почта</div>
            <a href="globalmove@gmail.uz" title="Эл почта">
                  globalmove@gmail.uz
								</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
                </div>
            </div>
            <div class="col-sm-7">
                <h1>Тарифы</h1>
<p>Транспортная компания<span style="margin-right: 0.3em"> </span> <span style="margin-left: -0.3em">&laquo;Регионалкарго</span>&raquo; осуществляет перевозку грузов по&nbsp;Узбекистану.</p>
<p>Просчитываем оптимизацию затрат, отправляем любым видом транспорта, быстро, качественно, любая форма оплаты.</p>
<p>&nbsp;</p>
<div role="tabpanel">
<ul class="nav nav-tabs" role="tablist">
<li role="presentation" class="active"><a href="#tariffnds" aria-controls="home" role="tab" data-toggle="tab">C НДС</a></li>
<li role="presentation"><a href="#tariffnonds" aria-controls="profile" role="tab" data-toggle="tab">Без НДС</a></li>
</ul>
<div class="tab-content">
<div role="tabpanel" class="tab-pane active" id="tariffnds">
<h3>Автомобильные перевозки</h3>
<table class="table table-hover">
<thead>
<tr><th>Транспортное средство</th><th class="text-right">Грузоподъёмность</th><th class="text-right"><span class="rub">&#x20bd</span> / км</th><th class="text-right"><span class="rub">Р</span> / час</th></tr>
</thead>
<tbody>
<tr>
<td>Газель / борт</td>
<td class="text-right">1 500 кг&nbsp;/ 9&nbsp;&nbsp;&nbsp;&nbsp;м&sup3; </td>
<td class="text-right">13</td>
<td class="text-right">375 / 440</td>
</tr>
<tr>
<td>Газель удлиненная</td>
<td class="text-right">1 500 кг&nbsp;/ 15&nbsp;&nbsp;&nbsp;&nbsp;м&sup3; </td>
<td class="text-right">14</td>
<td class="text-right">440</td>
</tr>
<tr>
<td>Бычок</td>
<td class="text-right">3 000 кг&nbsp;/ 18&nbsp;&nbsp;&nbsp;&nbsp;м&sup3; </td>
<td class="text-right">18</td>
<td class="text-right">620</td>
</tr>
<tr>
<td>Грузовик / Японец / борт</td>
<td class="text-right">5 000 кг&nbsp;/ 25-30&nbsp;&nbsp;&nbsp;&nbsp;м&sup3; </td>
<td class="text-right">25</td>
<td class="text-right">810</td>
</tr>
<tr>
<td>КАМАЗ</td>
<td class="text-right">10 000 кг&nbsp;/ 35-38&nbsp;&nbsp;&nbsp;&nbsp;м&sup3; </td>
<td class="text-right">30</td>
<td class="text-right">1 120</td>
</tr>
<tr>
<td>Еврофура</td>
<td class="text-right">20 000 кг&nbsp;/ 92&nbsp;&nbsp;&nbsp;&nbsp;м&sup3; </td>
<td class="text-right">35</td>
<td class="text-right">1 365</td>
</tr>
</tbody>
</table>
<p>&nbsp;</p>
<h3>Аренда спецтехники</h3>
<table class="table table-hover">
<thead>
<tr><th>Транспортное средство</th><th class="text-right"><span class="rub">Р</span> / км</th><th class="text-right"><span class="rub">Р</span> / час</th></tr>
</thead>
<tbody>
<tr><th colspan="3">Самопогрузчик</th></tr>
<tr>
<td>Самопогрузчик 5 т</td>
<td class="text-right">25</td>
<td class="text-right">1 365</td>
</tr>
<tr>
<td>Самопогрузчик 10 т</td>
<td class="text-right">30</td>
<td class="text-right">1 860</td>
</tr>
<tr>
<td>Самопогрузчик 15 т</td>
<td class="text-right">35</td>
<td class="text-right">2 100</td>
</tr>
<tr><th colspan="3">Автокран</th></tr>
<tr>
<td>Автокран 10 т</td>
<td class="text-right">40</td>
<td class="text-right">1 500</td>
</tr>
<tr>
<td>Автокран 14 т</td>
<td class="text-right">40</td>
<td class="text-right">1 750</td>
</tr>
<tr>
<td>Автокран 16 т</td>
<td class="text-right">45</td>
<td class="text-right">1 860</td>
</tr>
<tr>
<td>Автокран 25 т</td>
<td class="text-right">45</td>
<td class="text-right">2 100</td>
</tr>
<tr><th colspan="3">Автовышка</th></tr>
<tr>
<td>Автовышка 15 м</td>
<td class="text-right">35</td>
<td class="text-right">1 100</td>
</tr>
<tr>
<td>Автовышка 22 м</td>
<td class="text-right">40</td>
<td class="text-right">1 500</td>
</tr>
<tr>
<td>Автовышка 27 м</td>
<td class="text-right">45</td>
<td class="text-right">1 610</td>
</tr>
<tr><th colspan="3">Самосвал</th></tr>
<tr>
<td>Самосвал 10 т</td>
<td class="text-right">35</td>
<td class="text-right">1 365</td>
</tr>
<tr>
<td>Самосвал 20 т</td>
<td class="text-right">40</td>
<td class="text-right">1 800</td>
</tr>
<tr><th colspan="3">Ассенизаторская машина</th></tr>
<tr>
<td>Ассенизаторская машина<br><span class="text-muted small">минимум 3 часа</span></td>
<td class="text-right"></td>
<td class="text-right">1 440</td>
</tr>
</tbody>
</table>
<p>&nbsp;</p>
<h3>Пассажирские перевозки</h3>
<table class="table table-hover">
<thead>
<tr><th>Транспортное средство</th><th class="text-right"><span class="rub">Р</span> / км</th><th class="text-right"><span class="rub">Р</span> / час</th></tr>
</thead>
<tbody>
<tr>
<td>Автобус ПаЗ&nbsp;24-27 мест</td>
<td class="text-right">17</td>
<td class="text-right">670</td>
</tr>
<tr>
<td>Автобус иномарка 18-45 мест</td>
<td class="text-right">25 / 30</td>
<td class="text-right">670 / 1 545</td>
</tr>
</tbody>
</table>
</div>
<div role="tabpanel" class="tab-pane" id="tariffnonds">
<h3>Автомобильные перевозки</h3>
<table class="table table-hover">
<thead>
<tr><th>Транспортное средство</th><th class="text-right">Грузоподъёмность</th><th class="text-right"><span class="rub">Р</span> / км</th><th class="text-right"><span class="rub">Р</span> / час</th></tr>
</thead>
<tbody>
<tr>
<td>Газель / борт</td>
<td class="text-right">1 500 кг&nbsp;/ 9&nbsp;&nbsp;&nbsp;&nbsp;м&sup3; </td>
<td class="text-right">13</td>
<td class="text-right">330 / 390</td>
</tr>
<tr>
<td>Газель удлиненная</td>
<td class="text-right">1 500 кг&nbsp;/ 15&nbsp;&nbsp;&nbsp;&nbsp;м&sup3; </td>
<td class="text-right">14</td>
<td class="text-right">390</td>
</tr>
<tr>
<td>Бычок</td>
<td class="text-right">3 000 кг&nbsp;/ 18&nbsp;&nbsp;&nbsp;&nbsp;м&sup3; </td>
<td class="text-right">18</td>
<td class="text-right">550</td>
</tr>
<tr>
<td>Грузовик / Японец / борт</td>
<td class="text-right">5 000 кг&nbsp;/ 25-30&nbsp;&nbsp;&nbsp;&nbsp;м&sup3; </td>
<td class="text-right">25</td>
<td class="text-right">710</td>
</tr>
<tr>
<td>КАМАЗ</td>
<td class="text-right">10 000 кг&nbsp;/ 35-38&nbsp;&nbsp;&nbsp;&nbsp;м&sup3; </td>
<td class="text-right">30</td>
<td class="text-right">990</td>
</tr>
<tr>
<td>Еврофура</td>
<td class="text-right">20 000 кг&nbsp;/ 92&nbsp;&nbsp;&nbsp;&nbsp;м&sup3; </td>
<td class="text-right">35</td>
<td class="text-right">1 210</td>
</tr>
</tbody>
</table>
<p>&nbsp;</p>
<h3>Аренда спецтехники</h3>
<table class="table table-hover">
<thead>
<tr><th>Транспортное средство</th><th class="text-right"><span class="rub">Р</span> / км</th><th class="text-right"><span class="rub">Р</span> / час</th></tr>
</thead>
<tbody>
<tr><th colspan="3">Самопогрузчик</th></tr>
<tr>
<td>Самопогрузчик 5 т</td>
<td class="text-right">25</td>
<td class="text-right">1 210</td>
</tr>
<tr>
<td>Самопогрузчик 10 т</td>
<td class="text-right">30</td>
<td class="text-right">1 640</td>
</tr>
<tr>
<td>Самопогрузчик 15 т</td>
<td class="text-right">35</td>
<td class="text-right">1 855</td>
</tr>
<tr><th colspan="3">Автокран</th></tr>
<tr>
<td>Автокран 10 т</td>
<td class="text-right">40</td>
<td class="text-right">1 320</td>
</tr>
<tr>
<td>Автокран 14 т</td>
<td class="text-right">40</td>
<td class="text-right">1 535</td>
</tr>
<tr>
<td>Автокран 16 т</td>
<td class="text-right">45</td>
<td class="text-right">1 640</td>
</tr>
<tr>
<td>Автокран 25 т</td>
<td class="text-right">45</td>
<td class="text-right">1 855</td>
</tr>
<tr><th colspan="3">Автовышка</th></tr>
<tr>
<td>Автовышка 15 м</td>
<td class="text-right">35</td>
<td class="text-right">1 060</td>
</tr>
<tr>
<td>Автовышка 22 м</td>
<td class="text-right">40</td>
<td class="text-right">1 315</td>
</tr>
<tr>
<td>Автовышка 27 м</td>
<td class="text-right">45</td>
<td class="text-right">1 420</td>
</tr>
<tr><th colspan="3">Самосвал</th></tr>
<tr>
<td>Самосвал 10 т</td>
<td class="text-right">35</td>
<td class="text-right">1 210</td>
</tr>
<tr>
<td>Самосвал 20 т</td>
<td class="text-right">40</td>
<td class="text-right">1 590</td>
</tr>
<tr><th colspan="3">Ассенизаторская машина</th></tr>
<tr>
<td>Ассенизаторская машина<br><span class="text-muted small">минимум 3 часа</span></td>
<td class="text-right"></td>
<td class="text-right">1 275</td>
</tr>
</tbody>
</table>
<p>&nbsp;</p>
<h3>Пассажирские перевозки</h3>
<table class="table table-hover">
<thead>
<tr><th>Транспортное средство</th><th class="text-right"><span class="rub">Р</span> / км</th><th class="text-right"><span class="rub">Р</span> / час</th></tr>
</thead>
<tbody>
<tr>
<td>Автобус ПаЗ&nbsp;24-27 мест</td>
<td class="text-right">17</td>
<td class="text-right">710</td>
</tr>
<tr>
<td>Автобус иномарка 18-45 мест</td>
<td class="text-right">25 / 30</td>
<td class="text-right">710 / 1 640</td>
</tr>
</tbody>
</table>
</div>
</div>
</div>            </div>
        </div>
    </section>
</section>
<footer>
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <div class="logo">
                                            <a href="../index.htm" title="Регионалкарго"><img src="/static/assets/auto/site/cargo/logo_color2.png" height="60px" width="148px" alt="Регионалкарго"></a>
                                    </div>
            </div>
            <nav class="col-sm-7">
                <ul class="list-inline">
                    

<li>
  <a href="/about/index.htm" title="Компания">Компания</a>
</li>
<li>
  <a href="/tariffs/index.htm" title="Тарифы">Тарифы</a>
</li>
<li>
  <a href="/partners/index.htm" title="Партнёры">Партнёры</a>
</li>
<li>
  <a href="/contacts/index.htm" title="Контакты" class="active">Контакты</a>
</li>
                </ul>
            </nav>
            <div class="col-sm-2 text-right phone">
                (+998 93)0366747
            </div>
			<div class="col-xs-12 text-center">
                <p></p>
            </div>
        </div>
    </div>
</footer>

<script type="text/javascript" src="{% static 'jquery/1.11.0/jquery.min.js' %}"></script>
<script type="text/javascript" src="{% static 'bootstrap/3.2.0/js/bootstrap.min.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/auto/js/jquery.easing.1.3.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/auto/js/parallax.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/auto/expromptum/expromptum.min.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/auto/site/site.min.js' %}"></script>




</body>
</html><!-- HostCMS Benchmark --><script>
window.addEventListener('load', function() {
	var waiting = performance.timing.responseStart - performance.timing.requestStart, loadPage = performance.timing.loadEventStart - performance.timing.requestStart, dnsLookup = performance.timing.domainLookupEnd - performance.timing.domainLookupStart, connectServer = performance.timing.connectEnd - performance.timing.connectStart;

	xmlhttprequest = new XMLHttpRequest();
	xmlhttprequest.open('POST','/hostcms-benchmark.php',true);
	xmlhttprequest.setRequestHeader('Content-type','application/x-www-form-urlencoded');
	xmlhttprequest.send('structure_id=1022&waiting_time='+waiting+'&load_page_time='+loadPage+'&dns_lookup='+dnsLookup+'&connect_server='+connectServer);
});
</script>