{% extends 'index.htm' %}
{% load static %}

{% block content %}

<div class="servicePart serviceItem" id="service_7806" style="background-image: url('upload/information_system_84/7/8/0/item_7806/item_7806.png');">
    <div class="container">
      <div class="row">
        <div class="col-sm-9 col-sm-offset-3"><h2 class="h1"><a href="" title="Пассажирские перевозки">Пассажирские перевозки</a></h2><div class="row"><div class="col-sm-10"><div class="summary"><p>Предоставляем микроавтобусы и&nbsp;автобусы различного уровня комфортности, вместительностью&nbsp;от 12 до&nbsp;60 мест.</p>
  <p>Кроме этого, осуществляем экскурсионные поездки, обслуживание мероприятий и&nbsp;т.д.&nbsp;</p></div></div></div>
  <form action="" method="post" id="form_service_149">
    {% csrf_token %}
      <div class="row">
          <div class="col-sm-8">
              <div class="resultForm"></div>
              <div class="form-group field">
                  <label>Колличество пассажиров</label>
                  <input type="text" class="form-control input-sm" name="people" placeholder="12" data-xp="required: true, type: 'number'">
              </div>
              <div class="form-group field">
                  <label>Маршрут <span class="text-muted">(откуда и куда)</span></label>
                  <textarea class="form-control input-sm" name="freight_fromto" rows="3" placeholder="Группа детей на экскурию. Самарканд -> Ташкент"></textarea>
              </div>
              <div class="form-group field">
                  <label>Контактный телефон</label>
                  <input type="text" class="form-control input-sm" name="phone" placeholder="+998930366747" data-xp="type: 'phone', required: true">
                  <div class="show_on_blured_and_invalid">Не похоже на телефон</div>
              </div>
              <div class="flex justify-center items-center">
                <button class="py-2 px-4 bg-primary_red text-gray-100 font-medium text-lg rounded-md">
                    Отправить
                </button>
            </div>
      </div>
  </form></div>
      </div>
    </div>
  </div>

  {% endblock %}
